body {
    background-color: white;
}

/*#control {
    width: 512px; height: 512px;
    background-color: #aaa;
}
*/
#control {
	width: 33%; height: 100px;	
	background-color: blue;
	float: left;
}

#stopButton {
	width: 33%; height: 100px;	
	background-color: red;
	float: left;
}

#translationalControl {
	width: 33%; height: 100px;	
	background-color: green;
	float: left;
}