.label {
	color: gray;
	text-align: center;
	font-size: 15px;
}

.graphValue {
	color: gray;
	text-align: center;
	font-size: 30px;
	position: relative;
	top: 35%;
  	transform: translateY(-50%);
}

#rotationalVelocityController {
	width: 200px;
	height: 200px;
	border:1px solid #FFFFFF;
	position: relative;
	top: 35%;
  	transform: translateY(20%);
}

#translationalVelocityController {
	width: 200px;
	height: 200px;
	border:1px solid #FFFFFF;
	position: relative;
	top: 35%;
  	transform: translateY(20%);
}