.label {
	color: gray;
	text-align: center;
	font-size: 15px;
}

.graphValue {
	color: gray;
	text-align: center;
	font-size: 30px;
	position: relative;
	top: 35%;
  	transform: translateY(-50%);
}

#rotationalVelocityController {
	width: 250px;
	height: 250px;
	border:1px solid #FFFFFF;
	position: relative;
	top: 35%;
  	transform: translateY(20%);
    background-image:url(circle.png);
}

#translationalVelocityController {
	width: 250px;
	height: 250px;
	border:1px solid #FFFFFF;
	position: relative;
	top: 35%;
  	transform: translateY(20%);
    background-image:url(plus.png);
}